@import '/styles/main';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1170px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  //argin-top: 12px;
  padding: 0 10px;
  margin-bottom: 40px;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 482px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .desc-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    //margin-top: 32px;
    @include responsive-size(screen-m) {
      margin-top: 16px;
    }
    &__title {
      min-height: 60px;
      width: 100%;
      margin-bottom: 8px;
      color: $Dark-Green-100;
      @include setting-font('Josefin Sans', normal, 400, 32px, 120%);
    }
    &__desc {
      font-weight: 500;
      line-height: 200%;
      width: 100%;
      margin-top: 12px;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      white-space: pre-line;
    }
  }
  .sub-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    width: 100%;
    height: 100%;
    grid-auto-flow: dense;
    grid-gap: 8px;
    overflow: visible;
    margin-top: 32px;
    opacity: 0;
    @include responsive-size(screen-s) {
      -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive-size(screen-xs) {
      -ms-grid-columns: 1fr 8px 1fr;
      grid-template-columns: repeat(1, 1fr);
    }
    font-weight: 500;
    line-height: 200%;
    color: $Black-80;

    &.active-anim {
      @include anim-opacity(0.1s, 0s);
      @for $i from 1 through 10 {
        & > :nth-child(#{$i}) {
          & > :first-child {
            @include anim-move-circle(10px, 1s, 0.3s * $i);
          }
          & > :last-child {
            @include anim-move-top(20px, 0.5s, 0.3s * $i);
          }
        }
      }
    }
  }
  .video {
    position: relative;
    max-width: 1440px;
    max-height: 779px;
    width: 100%;
    height: 100%;
    //margin-top: 10px;
    object-fit: cover;
    z-index: -1;
    background: transparent;
  }
}
