@import '/styles/main';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 500px;
  height: max-content;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(36, 36, 36, 0.12);
  &:hover {
    box-shadow: 5px 10px 17px rgba(0, 0, 0, 0.12);
  }
  &.active-anim {
    & > :nth-child(1) {
      @include anim-opacity(0.5s, 0s);
      @include anim-move-circle(-2px, 0.7s, 0s);
    }
    & > :nth-child(2) {
      @include anim-opacity(0.5s, 0s);
      @for $i from 1 through 3 {
        & > :nth-child(#{$i}) {
          @include anim-move-circle(-2px, 0.7s, 0.15s * $i);
        }
      }
    }
  }

  .main-image {
    max-width: 500px;
    width: 100%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    &:hover {
      & ~ div {
        & > :first-child {
          &::before {
            width: 95%;
          }
        }
      }
    }
  }
  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
    padding-left: 20px;
    opacity: 1;
    padding-bottom: 16px;
    .title {
      margin-top: 16px;
      width: 100%;
      height: max-content;
      max-height: 75px;
      margin-bottom: 11px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;

      @include show-underline(95%, 0.4s);
      @include setting-font('Josefin Sans', normal, 700, 20px, 120%);
      @include responsive-size(screen-m) {
        margin-bottom: 8px;
      }
    }
    .time {
      width: 100%;
      min-height: 24px;
    }
    .desc {
      width: 100%;
      max-height: max-content;
      max-height: 70px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
      @include setting-font('Josefin Sans', normal, 500, 16px, 130%);
    }
    .detail {
      width: 100%;
      height: max-content;
      max-height: 70px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
      cursor: pointer;
      @include setting-font('Josefin Sans', normal, 500, 16px, 130%);
    }
    .author {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      &__avatar {
        width: 40px;
        height: 100%;
        margin-right: 16px;
        border-radius: 100%;
      }
      &__name {
        @include setting-font('Josefin Sans', normal, 700, 16px, 130%);
      }
    }
  }
}
