@import '/styles/main';

.container {
    z-index: 3;
    position: absolute;
    bottom: 25px;
    right: 60px;
    display: block;
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.7);
    border-radius: 40px;
    .custom-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        width: 55px;
        height: 55px;
        background-color: #06703a;
        
    } 
}

.dropdown-menu-add {
    --bs-dropdown-bg: transparent;
    --bs-dropdown-border-color: transparent;
    --bs-dropdown-min-width: 0;
    //width: 60px;
    
}

.zalo {
    font-family: untitled-font-1;
    color:#fff;
    font-size: 30px;
    align-self: center;
    position: absolute;
    top: 320px;
}

.dropdown-item-add {
    width: 50px;
    height: 50px;
    background-color: #06703a;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    align-self: center;
    box-shadow: 0 3px 6px rgba(36, 36, 36, 0.7);
    & > svg{
        position: absolute;
    }
    &_desc {
        position: relative;
        top: 18px;
        z-index: 5;
        font-size: 8px;
        color: #fff;
        text-shadow: 0 1px 2px rgba(36, 36, 36, 0.7);;
    }
}