@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1170px;
  height: max-content;
  margin-top: 120px;
  @include responsive-size(screen-m) {
    padding: 0 10px;
    margin-top: 48px;
  }
  .title {
    min-height: 48px;
    width: 100%;
    text-align: center;
    @include setting-font('Josefin Sans', normal, 400, 32px, 120%);
    color: $Dark-Green-100;
    margin-bottom: 48px;

    @include responsive-size(screen-xs) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    width: 100%;
    height: 100%;
    grid-auto-flow: dense;
    grid-gap: 8px;
    overflow: visible;
    @include responsive-size(screen-m) {
      -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
    @include responsive-size(screen-xs) {
      -ms-grid-columns: 1fr 8px 1fr;
      grid-template-columns: repeat(2, 1fr);
    }
    opacity: 0;
    &.active-anim {
      @include anim-opacity(0s, 0s);
      @for $i from 1 through 15 {
        & > :nth-child(#{$i}) {
          &:nth-child(#{$i}) {
            & > :last-child {
              @include anim-move-right(20px, 0.4s, 0.22s * $i);
            }
          }
          &:nth-child(odd) {
            @include anim-move-revert-circle(20px, 0.4s, 0.17s * $i);
          }
          &:nth-child(even) {
            @include anim-move-revert-circle(-20px, 0.4s, 0.17s * $i);
          }
        }
      }
    }
  }
}
