@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1170px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 20px;

  @include responsive-size(screen-m) {
    margin-top: 46px;
  }
  .member {
    &-img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      opacity: 0;
      .member-img {
        width: 715px;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
      }
      &.active-anim {
        @include anim-opacity(0.1s, 0s);

        & > :nth-child(1) {
          @include anim-move-top(50px, 1.2s);
          @include responsive-size(screen-m) {
            @include anim-move-top(10px, 1s);
          }
        }
        & > :nth-child(2) {
          @include anim-move-right(50px, 1.2s);
          @include responsive-size(screen-m) {
            @include anim-move-right(10px, 1s);
          }
        }
      }
    }
  }
  .member-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0 10px;

    &__title {
      color: $Dark-Green-100;
      margin: 16px 0;
      margin-top: 36px;
      @include setting-font('Josefin Sans', normal, 400, 32px, 120%);
      @include responsive-size(screen-m) {
        margin-top: 16px;
      }
    }
    &__content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      max-width: 1170px;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      &__title {
        color: $Dark-Green-100;
        //margin: 16px 0;
        margin-left: 40px;
        margin-top: 60px;
        max-width: 80px;
        @include setting-font('Josefin Sans', normal, 500, 18px, 120%);
        @include responsive-size(screen-m) {
          margin-top: 16px;
        }
      }
      &.active-anim {
        @for $i from 1 through 10 {
          & > :nth-child(#{$i}) {
            @include anim-move-top(50px, 0.7s, 0.1s * $i);
            & > :nth-child(1) {
              @include anim-move-top(50px, 0.7s, 0.4s * $i);
            }
            & > :nth-child(2) {
              @include anim-move-top(50px, 0.7s, 0.7s * $i);
            }
          }
        }
      }
      @include responsive-size(screen-m) {
        flex-direction: column;
        max-width: none;
      }
    }
    &__maindesc {
      color: $Dark-Green-100;
      margin: 16px 0;
      margin-top: 18px;
      @include setting-font('Josefin Sans', normal, 400, 18px, 120%);
      @include responsive-size(screen-m) {
        margin-top: 16px;
      }
    }
  }
}
