@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  max-width: 1070px;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
