@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1170px;
  height: max-content;
  margin-top: 32px;
  opacity: 0;
  &.active-anim {
    @include anim-opacity(0.3s, 0s);
    & > :first-child {
      @include anim-move-right(-30px, 1s, 0s);
    }
    & > :last-child {
      @for $i from 1 through 6 {
        & > :nth-child(#{$i}) {
          & > :first-child {
            @include anim-move-circle(20px, 1s, 0.3s * $i);
          }
          & > :last-child {
            @include anim-move-revert-circle(-20px, 1s, 0.4s * $i);
          }
        }
      }
    }
  }
  @include responsive-size(screen-xs) {
    margin-top: 8px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
    color: $Dark-Green-100;
    padding-left: 10px;
    @include setting-font('Josefin Sans', normal, 400, 32px, 120%);
    @include responsive-size(screen-xs) {
      font-size: 24px;
      min-height: 32px;
    }
  }
  .content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 60px;
    grid-auto-flow: dense;
    width: 100%;
    height: 100%;
    overflow: visible;
    margin-top: 60px;
    @include responsive-size(screen-m) {
      -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 32px;
      row-gap: 32px;
    }
    @include responsive-size(screen-xs) {
      -ms-grid-columns: 1fr;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 16px;
      row-gap: 24px;
    }
  }
}
