$text-color: #000000;
$text-color-2: #2d2d2d;

$Green-100: #53b748;
$Grass-100: #009e4a;
$Dark-Green-100: #06703a;
$Purple-100: #2c1c5a;

$White: #ffffff;

$Black-100: #050505;
$Black-80: #2e2e2e;
$Black-60: #5c5c5c;
$Black-40: #898989;
$Black-20: #b7b7b7;

$Orange: #ff6600;
