@import '/styles/main';

.slider-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    max-height: 500px;
    margin: auto;
    align-self: center;
}

.slide-wrapper {
    display: inline-block;
    max-width: 1440px;
    height: auto;
}

.slick-slide {
    outline: 0;
}

.setting-slider {
    max-width: 1440px;
}

.slick-slide img {
    display: inline-block;
}

.slick-slide active{
    justify-content: center;
}

