@import '/styles/main';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: max-content;
  margin-bottom: 24px;
  opacity: 0;
  &.active-anim {
    @include anim-opacity(0.1s, 0s);
    & > :first-child {
      & > :first-child {
        @include anim-move-revert-circle(20px, 0.7s, 0s);
      }
    }
    & > :last-child {
      @include anim-move-right(20px, 0.7s, 0s);
      & > :last-child {
        @include anim-move-top(-20px, 0.5s, 0.7s);
      }
    }
  }
  @include responsive-size(screen-m) {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 285px;
    min-width: 285px;
    @include responsive-size(screen-m) {
      max-width: none;
      place-self: start;
      margin-left: 30px;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: $Black-100;
      width: 100%;
      min-height: 32px;
      margin-bottom: 26px;
    }
    &__step {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: max-content;
      &.active-anim {
        @include anim-opacity(0.1s, 0s);
        @for $i from 1 through 2 {
          & > :nth-child(#{$i}) {
            & > :first-child {
              & > :first-child {
                @include anim-line-2(1s, 0.9s * $i);
              }
              & > :last-child {
                @include anim-line(35px, 1s, 0.8s * $i);
              }
            }
          }
        }
      }
    }
  }
  .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 683px;
    width: calc(683px * 100% / 978px);
    height: max-content;
    @include responsive-size(screen-m) {
      width: 100%;
      margin-bottom: 16px;
    }
    &__image {
      max-width: 683px;
      max-height: 353px;
      width: 100%;
      height: 100%;

      margin-bottom: 24px;
    }
    &__desc {
      font-size: 16px;
      line-height: 130%;
      width: 100%;
      height: 100%;
      @include responsive-size(screen-m) {
        padding: 0 10px;
      }
    }
  }
}
