@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  max-height: 400px;
  width: 1440px;
  height: 100%;
  margin-top: 40px;
  opacity: 0;
  &.active-anim {
    @include anim-opacity(0.3s, 0s);
    @include anim-move-top(10px, 0.5s, 0.3s);
  }
  @include responsive-size(screen-m) {
    margin-top: 48px;
  }
}
