@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: max-content;
  cursor: pointer;
  user-select: none;
  margin-top: 15px;
  .title {
    width: max-content;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #06703a;
  }
  .arrow-icon {
    width: 12px;
    height: 9px;
  }
}
