@import '/styles/main';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: max-content;
  margin: 30px auto 0;
  padding: 0 10px;
  opacity: 0;
  &.active-anim {
    @include anim-move-right(70px, 0.5s);
  }
  @include responsive-size(screen-m) {
    margin-top: 60px;
  }
  .title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #06703a;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    &.active-anim {
      @for $i from 1 through 6 {
        & > :nth-child(#{$i}) {
          & > :nth-child(1) {
            & > :nth-child(1) {
              @include anim-move-top(20px, 0.5s, 0.5s * $i);
            }
            & > :nth-child(2) {
              @include anim-move-circle(10px, 0.5s, 0.5s * $i);
            }
            & > :nth-child(3) {
              @include anim-wave(20px, 0.5s, 0.3s * $i);
            }
          }
          & > :nth-child(2) {
            @include anim-fade-right(-40px, 0.5s, 0.5s * $i, 0.08);
          }
        }
      }
    }
    @include responsive-size(screen-l) {
      height: max-content;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
