@import '/styles/main';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 383px;
  min-height: 100%;
  height: max-content;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 30px;
  margin-right: 10px;
  &.active-anim {
    & > :nth-child(1) {
      @include anim-opacity(0.5s, 0s);
      @include anim-move-circle(-2px, 0.7s, 0s);
    }
    & > :nth-child(2) {
      @include anim-opacity(0.5s, 0s);
      @for $i from 1 through 3 {
        & > :nth-child(#{$i}) {
          @include anim-move-circle(-2px, 0.7s, 0.15s * $i);
        }
      }
    }
  }
  @include responsive-size(screen-m) {
    border-radius: 30px;
    max-width: 264px;
  }
  .main-image {
    width: 383px;
    height: 200px;
    opacity: 0;
    @include responsive-size(screen-m) {
      max-width: 264px;
      max-height: 138px;
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    padding-left: 20px;
    opacity: 0;
    .time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 22px;
      margin: 16px 0;
      color: $text-color-2;
      @include setting-font('Josefin Sans', normal, 500, 14px, 22px);
      @include responsive-size(screen-m) {
        margin: 8px 0;
      }
      &__image {
        width: 29px;
        height: 29px;
        margin-right: 8px;
      }
    }
    .title {
      width: 100%;
      height: max-content;
      max-height: 75px;
      margin-bottom: 11px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;
      @include setting-font('Josefin Sans', normal, 700, 20px, 120%);
      @include responsive-size(screen-m) {
        margin-bottom: 8px;
      }
    }
    .desc {
      width: 100%;
      height: max-content;
      max-height: 70px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
      @include setting-font('Josefin Sans', normal, 500, 16px, 130%);
    }
  }
}
