@import '/styles/main';

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1070px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 20px auto 0;
  //opacity: 0;
  &.active-anim {
    @include anim-move-right(50px, 0.5s);
  }
  @include responsive-size(screen-l) {
    margin-top: 60px;
  }

  .title {
    text-align: center;
    height: 40px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #06703a;
    margin-bottom: 38px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1070px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    .sub-news {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      @include responsive-size(screen-m) {
        padding: 0 8px;
      }
      @media only screen and (max-width: 767px) {
        padding: 0;
        width: 80%;
        flex-direction: column;
        margin-top: 16px;
        padding-left: 8px;
        padding-right: 8px;
      }
      @include responsive-size(screen-s) {
        width: 100%;
      }
    }
  }
}
