@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  width: 100%;
  max-width: 1282px;
  margin-top: 120px;
  @include responsive-size(screen-m) {
    margin-top: 48px;
  }
  .title {
    text-align: center;
    width: 100%;
    min-height: 60px;
    margin-bottom: 16px;
    @include setting-font('Josefin Sans', normal, 700, 20px, 120%);
    @include responsive-size(screen-m) {
      min-height: auto;
    }
  }
  .content-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: max-content;

    .slider-wrapper {
      width: 100%;
      max-width: 1170px;
      height: 100%;
      &.active-anim {
        & > :first-child {
          & > :first-child {
            & > :first-child {
              @for $i from 1 through 11 {
                & > :nth-child(#{$i}) {
                  & > :first-child {
                    & > :first-child {
                      @include anim-move-right(50px, 0.8s, 0.3s * $i);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.setting-slider {
  position: relative;
  width: 100%;
  & > :nth-child(2) {
    & > :first-child {
      width: max-content !important;
    }
  }
}

.slider-arrow {
  &__left,
  &__right {
    width: 14px;
    height: 14px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    border: solid $Black-100;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    @include responsive-size(screen-m) {
      display: none;
    }
  }
  &__left {
    left: -20px;
    transform: rotate(135deg);
  }
  &__right {
    right: -20px;
    transform: rotate(-45deg);
  }
}
