@import '/styles/main';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    width: calc(100vw - 40px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 auto;
    padding: 20px;
    opacity: 1;
    .title {
      width: calc(100vw - 40px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin-bottom: 16px;
      display: -webkit-box;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      // -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;
      max-width: 720px;
      //padding-left: 16px;
      @include setting-font('Arial', bold, 600, 40px, 120%);
      @include responsive-size(screen-m) {
        font-size: 32px;
      }
      @include responsive-size(screen-xs) {
        font-size: 24px;
      }
    }
    .author {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      width: calc(100vw - 40px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin-bottom: 4px;
      max-width: 720px;
      //padding-left: 16px;

      &__avatar {
        width: 32px;
        height: 100%;
        margin-right: 16px;
      }
      &__name {
        @include setting-font('Arial', bold, 700, 14px, 120%);
      }
    }
    .main-image {
      max-width: 720px;
      width: calc(100vw - 40px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      opacity: 1;
    }
    .desc {
      width: calc(100vw - 40px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      //max-width: 720px;
      display: -webkit-box;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      // -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
      text-align: left;
      max-width: 720px;
      margin-top: 16px;
      @include setting-font('Arial', normal, 400, 15px, 150%);
      @include responsive-size(screen-m) {
        padding: 0 8px;
      }
      & > p {
        display: block;
        -webkit-margin-before: 0.4em;
        margin-block-start: 0.4em;
        -webkit-margin-after: 0.4em;
        margin-block-end: 0.4em;
        -webkit-margin-start: 0px;
        margin-inline-start: 0px;
        -webkit-margin-end: 0px;
        margin-inline-end: 0px;
      }
      & > img {
        display: block;
        padding: 5px;
        width: 100vw;
        max-width: 720px;
        object-fit: contain;
        
        height: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
      
      }
    }
    .time {
      max-width: 720px;
      width: calc(100vw - 40px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin: 5px;
    }
    .detail {
      width: calc(100vw - 40px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      max-height: 70px;
      display: -webkit-box;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
      cursor: pointer;
      @include setting-font('Arial', normal, 350, 16px, 120%);
    }
  }
}
