$default-size: 14px;
@mixin flex-container($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

$breakpoints: (
  screen-xl: 1440px,
  screen-l: 1024px,
  screen-m: 768px,
  screen-s: 640px,
  screen-xs: 480px,
  screen-xxs: 320px,
);

@mixin responsive-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media only screen and (max-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin setting-image-rendering {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
@mixin setting-user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
@mixin setting-scale($x: 1, $y: 1) {
  -webkit-transform: scale($x, $y);
  -moz-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  transform: scale($x, $y);
}
@mixin setting-transition(
  $property: all,
  $duration: 0s,
  $timing: ease-out,
  $delay: 0s
) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -ms-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
}
@mixin setting-font(
  $family,
  $style: normal,
  $weight: normal,
  $size: $default-size,
  $height: none
) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin show-underline($width: 80%, $duration: 0.3s) {
  &::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $Black-80;
    transition: width $duration ease-out;
  }
  &:hover::before {
    width: $width;
  }
}

@mixin anim-move-top($height: 70px, $duration: 0.3s, $delay: 0s) {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  visibility: visible;
  opacity: 0;
  -webkit-animation: move_top_anim $duration ease-out ($delay * 80 /100) 1
    normal forwards running;
  animation: move_top_anim $duration ease-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes move_top_anim {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0px, $height, 0);
      transform: translate3d(0px, $height, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }
}

@mixin anim-opacity($duration: 0.3s, $delay: 0.3s) {
  opacity: 0;
  -webkit-animation: fade_opacity $duration ease-out ($delay * 80 /100) 1 normal
    forwards running;
  animation: fade_opacity $duration ease-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes fade_opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin anim-wave($height: 70px, $duration: 0.3s, $delay: 0s) {
  opacity: 0;
  -webkit-animation: move_wave $duration ease-in-out ($delay * 80 /100) 1 normal
    forwards running;
  animation: move_wave $duration ease-in-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes move_wave {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0px, $height, 0);
      transform: translate3d(0px, $height, 0);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate3d(0px, -$height, 0);
      transform: translate3d(0px, -$height, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  }
}

@mixin anim-move-right($right: 70px, $duration: 0.3s, $delay: 0s) {
  opacity: 0;
  -webkit-animation: move_right $duration ease-in-out ($delay * 80 /100) 1
    normal forwards running;
  animation: move_right $duration ease-in-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes move_right {
    0% {
      opacity: 0;
      -webkit-transform: translate3d($right, 0, 0);
      transform: translate3d($right, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
    }
  }
}

@mixin anim-fade-right($right: 70px, $duration: 0.3s, $delay: 0s, $opacity: 1) {
  opacity: 0;
  -webkit-animation: anim_fade_rignt $duration ease-in-out ($delay * 80 /100) 1
    normal forwards running;
  animation: anim_fade_rignt $duration ease-in-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes anim_fade_rignt {
    0% {
      opacity: 0;
      -webkit-transform: translate3d($right, 0, 0);
      transform: translate3d($right, 0, 0);
    }
    100% {
      opacity: $opacity;
      -webkit-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
    }
  }
}

@mixin anim-move-circle($height: 70px, $duration: 0.3s, $delay: 0s) {
  opacity: 0;
  -webkit-animation: move_circle $duration ease-in-out ($delay * 80 /100) 1
    normal forwards running;
  animation: move_circle $duration ease-in-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes move_circle {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-$height, $height, 0);
      transform: translate3d(-$height, $height, 0);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate3d($height, -$height, 0);
      transform: translate3d($height, -$height, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
    }
  }
}

@mixin anim-move-revert-circle($height: 70px, $duration: 0.3s, $delay: 0s) {
  opacity: 0;
  -webkit-animation: move_revert_circle $duration ease-in-out ($delay * 80 /100)
    1 normal forwards running;
  animation: move_revert_circle $duration ease-in-out ($delay * 80 /100) 1
    normal forwards running;
  @keyframes move_revert_circle {
    0% {
      opacity: 0;
      -webkit-transform: translate3d($height, $height, 0);
      transform: translate3d($height, $height, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
    }
  }
}

@mixin anim-line($height: 35px, $duration: 0.3s, $delay: 0s) {
  -webkit-animation: move_line $duration ease-in-out $delay 1 normal forwards
    running;
  animation: move_line $duration ease-in-out $delay 1 normal forwards running;
  @keyframes move_line {
    0% {
      opacity: 0;
      height: 0px;
    }
    100% {
      opacity: 1;
      height: 35px;
    }
  }
}

@mixin anim-line-2($duration: 0.3s, $delay: 0s) {
  -webkit-animation: line_2 $duration ease-out $delay 1 normal forwards running;
  animation: line_2 $duration ease-out $delay 1 normal forwards running;
  @keyframes line_2 {
    0% {
      background: #d5d5d5;
    }
    100% {
      background: $Grass-100;
    }
  }
}

@mixin anim-move-scale-x($lenght: 0, $duration: 0.3s, $delay: 0s) {
  opacity: 0;
  -webkit-animation: move_scale_x $duration ease-in-out ($delay * 80 /100) 1
    normal forwards running;
  animation: move_scale_x $duration ease-in-out ($delay * 80 /100) 1 normal
    forwards running;
  @keyframes move_scale_x {
    0% {
      opacity: 0;
      -webkit-transform: scaleX($lenght);
      -ms-transform: scaleX($lenght);
      transform: scaleX($lenght);
    }
    100% {
      opacity: 1;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
