@import '/styles/main';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .wrapper {
    max-width: 1440px;
    margin: 0px auto 0px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    max-width: 1024px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    grid-auto-flow: dense;
    grid-gap: 32px;
    overflow: visible;
    @include responsive-size(screen-m) {
      padding: 0 12px;
    }
    @include responsive-size(screen-s) {
      -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px;
      max-width: 500px;
    }
    @include responsive-size(screen-xxs) {
      padding: 0 4px;
    }
  }

  .wrapperTopNews {
    max-width: 1440px;
    margin: 0px auto 0px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 8px;
    max-width: 1024px;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    grid-auto-flow: dense;
    grid-gap: 32px;
    overflow: visible;
    @include responsive-size(screen-m) {
      padding: 0 8px;
    }
    @include responsive-size(screen-s) {
      -ms-grid-columns: 1fr 8px 1fr 8px 1fr;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px;
      max-width: 500px;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-top: 64px;
  margin-bottom: 32px;
  @include responsive-size(screen-l) {
    margin-top: 48px;
  }
  @include responsive-size(screen-m) {
    margin-top: 32px;
  }
  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $White;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .arrow-left,
  .arrow-right {
    border: solid #bfbfbf;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .arrow-left {
    transform: rotate(135deg);
  }
  .arrow-right {
    transform: rotate(-45deg);
  }
}
